{% extends 'base.html' %}
{% block content %}

<h1>My Game Shelf</h1>
{% if current_user.is_authenticated %}

<h2>All Systems</h2>

{% for system in all_systems %}
<div class="system">
    <a href="/system/{{ system.id }}">{{ system.name }}</a> - 
    {{ system.games|length }} games
    <p><strong>Purchased:</strong> {{ system.purchased }}</p>
</div>
{% endfor %}
{% else %}
<p>Please <a href="/login"> Log In </a> or <a href="/signup"> Sign Up</a> to see your collection!</p>
{% endif %}

{% endblock %}